/* Layout structure */

.focus_module_website_h {
	position: relative;
	margin-left: auto;
  	margin-right: auto;
  	margin-top: 0;
  	margin-bottom: 0;
}

.mwh_row {
	display: flex;
  	flex-wrap: wrap;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	gap: 30px;
}

.mwh_row_a_top {
	align-items: flex-start;
}

.mwh_row_a_middle {
	align-items: center;
}

.mwh_row_a_bottom {
	align-items: flex-end;
}

.mwh_row_j_full {
	justify-content: space-between;
}

.mwh_row_j_left {
	justify-content: flex-start;
}

.mwh_row_j_center {
	justify-content: center;
}

.mwh_row_j_right {
	justify-content: flex-end;
}

.mwh_col {
	display: flex;
  	align-items: center;
  	flex-wrap: wrap;
	position: relative;
	gap: 30px;
}

/* Primary menu */

.mwh_el_primary_menu {
	margin-left: -0.75em;
}

/* Logo */

.mwh_el_logo {
	line-height: 0;
}

/* Mobile bar */

.focus_mobile_bar {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	justify-content: space-between;
	align-items: center;
	padding: 10px 20px;
}

.focus_mobile_bar .mwh_el_logo {
	flex: 1 0 auto;
}

.focus_mob_nav_icon-inner {
  transform: scale(.48);
  margin: -15px;
}

.focus_mob_nav_icon label {
  display: flex;
  flex-direction: column;
  width: 50px;
  cursor: pointer;
}

.focus_mob_nav_icon label span {
  border-radius: 10px;
  height: 7px;
  margin: 7px 0;
  transition: .4s ease;
}

.focus_mob_nav_icon span:nth-of-type(1) {
  width: 50%;
}

.focus_mob_nav_icon span:nth-of-type(2) {
  width: 100%;
}

.focus_mob_nav_icon span:nth-of-type(3) {
  width: 75%;
}

.focus_mob_nav_icon input[type="checkbox"] {
  display: none;
}

.focus_mob_nav_icon input[type="checkbox"]:checked ~ span:nth-of-type(1) {
  width: 0;
}

.focus_mob_nav_icon input[type="checkbox"]:checked ~ span:nth-of-type(3) {
  width: 0;
}

/* Mobile navigation container */

.focus_mobile_nav_container {
	display: none;
	flex-direction: column;
	gap: 40px;
	padding: 20px 40px 60px 40px;
}

.focus_mobile_nav_container .mwh_el_secondary_menu .menu__link {
	padding: 0;
}

/* Sticky bar */

.focus_sticky_bar {
	display: block;
	padding: 7px 20px;
	position: fixed;
	width: 100%;
	z-index: 9999;
	backdrop-filter: blur(10px);
  	-webkit-backdrop-filter: blur(10px);
	top: -300px;
	transition: top 0.5s ease;
}

.focus_sticky_bar.open {
	top: 0;
}

.focus_sticky_bar-inner {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 30px;
}

.focus_sticky_bar .mwh_el_logo {
	flex: 1 0 auto;
}

/* Focus window */

.focus_window {
	display: none;
	z-index: 9999;
	width: 100%;
	height: 100%;
}

.focus_window.open {
	display: flex;
	position: fixed;
	top: 0;
	left: 0;
}

.focus_window.open .header__close--toggle {
	animation: close_button_anim 0.5s ease 1 normal forwards;
}

@keyframes close_button_anim {
  from {
    top: -100px;
  }
  to {
    top: 30px;
  }
}

.focus_window-title {
  position: absolute;
  top: 30px;
  left: 30px;
  max-width: 270px;
}

.m_w_languages,
.m_w_search,
.m_w_map,
.m_w_contact {
	display: none;
}

.m_w_languages.open,
.m_w_search.open,
.m_w_map.open,
.m_w_contact.open {
	display: block;
	width: 100%;
}







/* LAYOUTS */



{# ############################# Layout 1 ############################## #}

/* Container */

.mwh_layout1.focus_module_website_h {
    padding: 20px 0;
}

/* Top row */

/* Middle row */

.mwh_layout1 .mwh_row_m {
	max-width: 1280px;
    padding: 0 20px;
	justify-content: space-between;
}

/* Bottom row */

{# ############################# Layout 2 ############################## #}

/* Container */

.mwh_layout2.focus_module_website_h {
    padding: 20px 0;
}

/* Top row */

/* Middle row */

.mwh_layout2 .mwh_row_m {
	max-width: 1280px;
    padding: 0 20px;
	justify-content: space-between;
}

/* Bottom row */

{# ############################# Layout 3 ############################## #}

/* Container */

.mwh_layout3.focus_module_website_h {
    padding: 30px 0;
}

/* Top row */

.mwh_layout3 .mwh_row_t {
	max-width: 1280px;
    padding: 0 20px;
    margin-top: 0;
    margin-bottom: 30px;
	justify-content: center;
}

/* Middle row */

/* Bottom row */

.mwh_layout3 .mwh_row_b {
	max-width: 1280px;
    padding: 0 20px;
	justify-content: center;
}

{# ############################# Layout 4 ############################## #}

/* Container */

.mwh_layout4.focus_module_website_h {
    padding: 40px 0;
}

/* Top row */

/* Middle row */

.mwh_layout4 .mwh_row_m {
	max-width: 1280px;
    padding: 0 20px;
	justify-content: space-between;
}

/* Bottom row */