{# ############################################## #}
{# ################# Macros ################# #}
{# ############################################## #}

{# Button renderer #}

{% macro render_button(d) %}

{# Set attributes used for the link field #}

{% set href = d.rb_href %}
{% set target = '' %}
{% set rel = [] %}
{% set rel_str = '' %}

{% if d.rb_type is equalto 'EMAIL_ADDRESS' %}
{% set href = 'mailto:' + href %}
{% endif %}
{% if d.rb_follow %}
{% do rel.append('nofollow') %}
{% endif %}
{% if d.rb_tab %}
{% do rel.append('noopener') %}
{% set target = ' target="_blank"' %}
{% endif %}
{% if rel %}
{% set rel_join = rel|join(' ') %}
{% set rel_str = ' rel="{{ rel_join }}"' %}
{% endif %}

{# Button html #}

<a class="{{ d.rb_class }}" href="{{ href }}" {{ target ~ rel_str }}>
  {% if d.rb_feature == 'portfolio' %}
  {# Do NOT close <a> tag #}
    {% elif d.rb_feature == 'social_icon' %}
    {% icon
    name='{{ d.rb_social_icon }}'
    style='SOLID'
    purpose='semantic'
    extra_classes='msi_icon'
    title='{{ d.rb_acc_title }}'
    unique_in_loop=True
    %}
  </a>
  {% else %}
  {{ d.rb_text }}
</a>
{% endif %}

{% endmacro %}

{# Menu renderer #}

{% macro render_menu(mobile) %}
<nav class="menu menu--{{'mobile' if mobile else 'desktop'}}" aria-label="Main menu">
  <ul class="menu__wrapper no-list">
    {{ caller() }}
    <li class="h_req_btn menu__item menu__item--depth-1">Request a Demo</li>
  </ul>
</nav>
{% endmacro %}

{# Social icons #}

{% macro render_social_icons(items) %}
<div class="focus_social_icons">
  {% for item in items %}

  {# Sets a custom icon if the custom option is selected #}

  {% if item.social_account != 'custom_icon' %}
  {% set social_icon = item.social_account %}
  {% else %}
  {% set social_icon = item.custom_icon.name %}
  {% endif %}

  {{ render_button({
  'rb_href': item.social_link.url.href,
  'rb_type': item.social_link.url.type,
  'rb_follow': item.social_link.no_follow,
  'rb_tab': item.social_link.open_in_new_tab,
  'rb_class': '',
  'rb_text': '',
  'rb_feature': 'social_icon',
  'rb_social_icon': social_icon,
  'rb_acc_title': item.accessibility.title
  }) }}

  {% endfor %}
</div>
{% endmacro %}

{# Menu items #}

{% macro menu_items(menu_field, max_levels) %}

{% if menu_field.menu|string != 'Choose a menu' %}

{% set menu = menu(menu_field.menu, 'site_root').children %}

{% macro render_link_item(link, depth) %}
<li
  class="menu__item menu__item--depth-{{ depth }} {{ 'menu__item--has-submenu' if link.children && depth < max_levels }} hs-skip-lang-url-rewrite">
  <div class="menu-item-container">
    {% if link.url %}
    <a class="menu__link {{ 'menu__link--toggle' if link.children && depth < max_levels }} {{ 'menu__link--active-branch' if link.activeBranch }} {{ 'menu__link--active-link' if link.activeNode }}"
      href="{{ link.url }}" {{ 'aria-haspopup="true" aria-expanded="false"' if link.children && depth < max_levels }}
      {{ 'aria-current="page"' if link.activeNode }} {{ 'target="_blank" rel="noopener"' if link.linkTarget }}>{{
      link.label }}</a>
    {% else %}
    {% if link.children && depth < max_levels %} <a class="menu__link menu__link--toggle" href="#" aria-haspopup="true"
      aria-expanded="false">{{ link.label }}</a>
      {% else %}
      <span class="menu__link">{{ link.label }}</span>
      {% endif %}
      {% endif %}
      {% if link.children %}
      {% if depth && depth < max_levels %} <button class="menu__child-toggle no-button" aria-expanded="false">
        <span class="show-for-sr">{{ link.label }}</span>
        <span class="menu__child-toggle-icon"></span>
        </button>
  </div>
  <ul
    class="menu__submenu {{ 'mat_pri_bor mat_pri_cor mat_pri_sha' if !mobile }} menu__submenu--level-{{ depth + 1 }} no-list">
    {% set depth = depth + 1 %}
    {% for sublink in link.children %}
    {{ render_link_item(sublink, depth) }}
    {% endfor %}
  </ul>
  {% endif %}
  {% else %}
  </div>
  {% endif %}
</li>
{% endmacro %}

{# A/B tests #}

{% set ab_items = [] %}
{% set pages = ['page_a', 'page_b']|shuffle %}
{% set ab_id = {val : 1} %}

{% if menu_field.ab_test_toggle %}
{% for test in menu_field.ab_tests %}
{% do ab_items.append({'ab_id': ab_id.val, 'page_a': test.page_a, 'page_b': test.page_b, 'display': pages[0]}) %}
{% do ab_id.update({val: ab_id.val + 1 }) %}
{% endfor %}
{% endif %}

{# Render menu item #}

{% for link in menu %}
{% if ab_items %}
{# This menu has A/B test item(s) #}
{% for ab in ab_items %}
{# Look for the menu item to be switched and apply the A/B test #}
{% if link.url is string_containing ab['page_a'] or link.url is string_containing ab['page_b'] %}
{# This is a A/B test item #}
{% if link.url is string_containing ab[ab['display']] %}
{{ render_link_item(link, 1) }}
{% endif %}
{% else %}
{# This is a regular menu item #}
{{ render_link_item(link, 1) }}
{% endif %}
{% endfor %}
{% else %}
{# This menu hasn't got A/B test item(s) #}
{{ render_link_item(link, 1) }}
{% endif %}
{% endfor %}

{% endif %}

{% endmacro %}

{# Column execution #}

{% macro execute_columns(hf, pos, printing) %}
{% for el in elems %}
{% if el['position']|lower == pos && el['visibility'] %}
{% if printing %}
{# Output columns #}
{% if used_positions is containing pos %}
{# Column already opened for this position #}
{% else %}
{# Open new column #}
<div class="mw{{ hf }}_col_{{ pos }} mw{{ hf }}_col">
  {% if request.query_dict._preview %}
  <input type="hidden" data-position="{{ pos }}" />
  {% endif %}
  {% do used_positions.append( pos ) %}
  {% do col_opened.update({ 'val': true }) %}
  {% endif %}
  {# Print current element #}
  {{ el['elem'] }}
  {% else %}
  {# Detect element positions only #}
  {% do used_columns.append( pos ) %}
  {% endif %}
  {% endif %}
  {% endfor %}
  {# Close opened column #}
  {% if col_opened['val'] %}
</div>
{% do col_opened.update({ 'val': false }) %}
{% endif %}
{% endmacro %}

{# Print header/footer #}

{% macro print_module(hf) %}

<div class="focus_module_website_{{ hf }} {{ layout_name }}">

  {# Detect used columns #}

  {% for pos in positions %}
  {{ execute_columns(hf, pos, false) }}
  {% endfor %}

  {# Insert rows and columns #}

  {% for pos in positions %}

  {# Open row #}

  {% if pos in used_columns && !row_opened['val'] %}
  {# Substring the row (t-m-b) #}
  {% set p = pos[0:1] %}
  {% set r_align = row_aligns[hf ~ '_' ~ p]|lower %}
  {% if row_aligns[hf ~ '_' ~ p ~ 'full'] %}
  {% set r_align = 'full' %}
  {% endif %}
  <div
    class="mw{{ hf }}_row_{{ p }} mw{{ hf }}_row mw{{ hf }}_row_j_{{ r_align }} mw{{ hf }}_row_a_{{ row_aligns[hf ~ '_' ~ p ~ '_v']|lower }}">
    {% if request.query_dict._preview %}
    <input type="hidden" data-vertical="{{ p }}" data-alignment="{{ r_align }}" />
    {% endif %}
    {% do row_opened.update({ 'val': true }) %}
    {% endif %}

    {# Add columns #}

    {{ execute_columns(hf, pos, true) }}

    {# Close row #}

    {% if loop.index % 3 == 0 && row_opened['val'] %}
  </div>
  {% do row_opened.update({ 'val': false }) %}
  {% endif %}

  {% endfor %}

</div>

{% endmacro %}

{# ############################################################## #}
{# ################# Widgets (HTML outputs) ################# #}
{# ############################################################## #}

{# Logo #}

{% macro output_logo(mobile, logo_id) %}
{% set logo_src = module.logo.mobile_logo.src if mobile else module.logo.logo.src %}
{% set logo_alt = module.logo.mobile_logo.alt if mobile else module.logo.logo.alt %}
{% set logo_width = module.logo.mobile_logo.width if mobile else module.logo.logo.width %}
{% set logo_override = module.logo.mobile_logo.override_inherited_src if mobile else
module.logo.logo.override_inherited_src %}
{% set logo_name = module.logo.mobile_logo.suppress_company_name if mobile else module.logo.logo.suppress_company_name
%}
{% set logo_link = module.logo.link.href if module.logo.link.href else "" %}
<div class="mwh_el_logo">
  {% if logo_id == 'site_logo_mobile' %}
  {% logo "site_logo_mobile"
  override_inherited_src="{{ logo_override }}"
  src="{{ logo_src }}"
  alt="{{ logo_alt }}"
  width="{{ logo_width }}"
  suppress_company_name="{{ logo_name }}"
  link="{{ logo_link }}"
  %}
  {% elif logo_id == 'site_logo_sticky' %}
  {% logo "site_logo_sticky"
  override_inherited_src="{{ logo_override }}"
  src="{{ logo_src }}"
  alt="{{ logo_alt }}"
  width="{{ logo_width }}"
  suppress_company_name="{{ logo_name }}"
  link="{{ logo_link }}"
  %}
  {% else %}
  {% logo "site_logo_main"
  override_inherited_src="{{ logo_override }}"
  src="{{ logo_src }}"
  alt="{{ logo_alt }}"
  width="{{ logo_width }}"
  suppress_company_name="{{ logo_name }}"
  link="{{ logo_link }}"
  %}
  {% endif %}
</div>
{% endmacro %}

{# Header menu #}

{% macro output_header_menu(menu_label, el, mobile) %}
<div class="mwh_el_{{ menu_label }} focus_header_menu">
  {% call render_menu(mobile) %}
  {{ menu_items(el, el.max_levels) }}
  {% endcall %}
</div>
{% endmacro %}

{# Language switcher #}

{% macro output_lang(mobile) %}
{% if content.translated_content|length || is_listing_view && group.translations %}
<div class="mwh_el_lang">
  {% if !mobile %}
  {% language_switcher "language_switcher"
  overrideable=false,
  display_mode='localized',
  label='Language Switcher'
  %}
  {% endif %}
  <div class="mwh_lang_toggle">
    {{ locale_name(locale)|truncate(2, True, '') }}
  </div>
</div>
{% endif %}
{% endmacro %}

{# Social icons #}

{% macro output_social(hf) %}
<div class="mw{{ hf }}_el_social">
  {{ render_social_icons(module.social_accounts) }}
</div>
{% endmacro %}

{# Search #}

{% macro output_search(mobile) %}
{% if module.search.layout == 'visible' and !mobile %}
<div class="mwh_el_search">
  <form action="/{{ site_settings.content_search_results_page_path }}">
    <input type="text" class="hs-search-field__input" name="term" autocomplete="off" aria-label="Search field"
      placeholder="{{ module.search.placeholder }}">
    {% if module.search.button %}
    <button aria-label="Search">
      {% icon
      name='arrow-right'
      style='SOLID'
      unicode='f061'
      purpose='semantic'
      title='Search'
      no_wrapper=True
      %}
    </button>
    {% endif %}
  </form>
</div>
{% endif %}
{% if module.search.layout == 'overlay' or mobile %}
<div class="mwh_search_toggle">
  {% icon
  name='search'
  style='SOLID'
  unicode='f002'
  purpose='semantic'
  title='Search toggle'
  no_wrapper=True
  %}
</div>
{% endif %}
{% endmacro %}

{# ################################################ #}
{# ################# Variables ################# #}
{# ################################################ #}

{% set default_breakpoint = 767 %}

{# Shortcuts to module fields #}

{% set sh = module.show_hide %}
{% set layout_name = module.predefined_layouts.layout %}

{# Layout structure #}

{% set row_aligns = {
'h_t': 'center',
'h_m': 'center',
'h_b': 'center',
'h_tfull': false,
'h_mfull': false,
'h_bfull': false,
'h_t_v': 'middle',
'h_m_v': 'middle',
'h_b_v': 'middle',
'f_t': 'center',
'f_m': 'center',
'f_b': 'center',
'f_tfull': false,
'f_mfull': false,
'f_bfull': false,
'f_t_v': 'middle',
'f_m_v': 'middle',
'f_b_v': 'middle',
} %}

{% set positions = [
'top_left',
'top_center',
'top_right',
'middle_left',
'middle_center',
'middle_right',
'bottom_left',
'bottom_center',
'bottom_right'
] %}

{% set used_columns = [] %}
{% set used_positions = [] %}
{% set row_opened = { 'val': false } %}
{% set col_opened = { 'val': false } %}

{# ############################################# #}
{# ################# Module ################# #}
{# ############################################# #}

{% set m_key = 'h' %}

{# Module styles #}

{% require_css %}
<style>
  {
    % scope_css %
  }

    {
    # Mobile breakpoint #
  }

    {
    % if module.breakpoint.width=='custom' %
  }

    {
    % set bp=module.breakpoint.custom_width %
  }

    {
    % else %
  }

    {
    % set bp=default_breakpoint %
  }

    {
    % endif %
  }

  @media (max-width: {
        {
        bp
      }
    }

    px) {

    .focus_module_website_h,
    .focus_sticky_bar {
      display: none;
    }

    .focus_mobile_nav_container.open {
      display: flex;
    }
  }

  @media (min-width: {
        {
        bp + 1
      }
    }

    px) {

    .focus_mobile_bar,
    .focus_mobile_nav_container {
      display: none;
    }
  }

    {
    % end_scope_css %
  }
</style>
{% end_require_css %}

{# Layouts > element positions #}

{# Predefined layouts #}
{% if layout_name == 'mwh_layout1' %}
{% set el_positions = {
'pos_logo': 'middle_left',
'pos_primary_menu': 'middle_right',
'pos_social': 'middle_right',
'pos_language': 'middle_right',
'pos_search': 'middle_right'
} %}
{% elif layout_name == 'mwh_layout2' %}
{% set el_positions = {
'pos_logo': 'middle_left',
'pos_primary_menu': 'middle_left',
'pos_social': 'middle_right',
'pos_language': 'middle_right',
'pos_search': 'middle_right'
} %}
{% elif layout_name == 'mwh_layout3' %}
{% set el_positions = {
'pos_logo': 'top_center',
'pos_primary_menu': 'bottom_center',
'pos_social': 'bottom_center',
'pos_language': 'bottom_center',
'pos_search': 'bottom_center'
} %}
{% elif layout_name == 'mwh_layout4' %}
{% set el_positions = {
'pos_logo': 'middle_left',
'pos_primary_menu': 'middle_center',
'pos_social': 'middle_right',
'pos_language': 'middle_right',
'pos_search': 'middle_right'
} %}
{% endif %}

{# Ordering below matters #}
{% set elems = [
{ 'elem': output_logo(), 'position': el_positions['pos_logo'], 'visibility': sh.logo },
{ 'elem': output_header_menu('primary_menu', module.primary_menu), 'position': el_positions['pos_primary_menu'],
'visibility': sh.primary_menu },
{ 'elem': output_social(m_key), 'position': el_positions['pos_social'], 'visibility': sh.social },
{ 'elem': output_lang(), 'position': el_positions['pos_language'], 'visibility': sh.language },
{ 'elem': output_search(), 'position': el_positions['pos_search'], 'visibility': sh.search }
] %}

{# Print header #}

{# Mobile bar #}

<div class="focus_mobile_bar">
  {% if sh.logo %}
  {{ output_logo(true, 'site_logo_mobile') }}
  {% endif %}
  {% if sh.language %}
  {{ output_lang(true) }}
  {% endif %}
  {% if sh.search %}
  {{ output_search(true) }}
  {% endif %}
  {% if sh.primary_menu or sh.social %}
  <div class="focus_mob_nav_icon">
    <div class="focus_mob_nav_icon-inner">
      <label for="focus_mob_nav_check">
        <input type="checkbox" class="focus_mob_nav_check" id="focus_mob_nav_check" />
        <span></span>
        <span></span>
        <span></span>
      </label>
    </div>
  </div>
  {% endif %}
</div>

{# Mobile navigation container #}

<div class="focus_mobile_nav_container">
  {% if sh.primary_menu %}
  {{ output_header_menu('primary_menu', module.primary_menu, true) }}
  {% endif %}
  {% if sh.social %}
  {{ output_social(m_key) }}
  {% endif %}
</div>

{# Sticky navigation container #}

<div id="focus_sticky_bar" class="focus_sticky_bar">
  <div class="content-wrapper focus_sticky_bar-inner">
    {% if sh.logo %}
    {{ output_logo(true, 'site_logo_sticky') }}
    {% endif %}
    {% if sh.primary_menu %}
    {{ output_header_menu('primary_menu', module.primary_menu) }}
    {% endif %}
    {% if sh.language %}
    {{ output_lang(true) }}
    {% endif %}
    {% if sh.search %}
    {{ output_search(true) }}
    {% endif %}
  </div>
</div>

{# Header content #}

{{ print_module(m_key) }}

{# Focus window #}

<div class="focus_window">

  {# Languages #}

  {% if content.translated_content|length || is_listing_view && group.translations %}
  <div class="m_w_languages">
    <div class="focus_window-title">{{ module.language.title }}</div>
    <div class="mwh_languages"></div>
  </div>
  {% endif %}

  {# Search #}

  {% if sh.search %}
  <div class="m_w_search">
    <div class="mwh_el_search">
      <div class="focus_window-title">{{ module.search.title }}</div>
      <form action="/{{ site_settings.content_search_results_page_path }}">
        <input type="text" class="hs-search-field__input" name="term" autocomplete="off" aria-label="Search field"
          placeholder="{{ module.search.placeholder }}">
        {% if module.search.button %}
        <button aria-label="Search">
          {% icon
          name='arrow-right'
          style='SOLID'
          unicode='f061'
          purpose='semantic'
          title='Search'
          no_wrapper=True
          %}
        </button>
        {% endif %}
      </form>
    </div>
  </div>
  {% endif %}

  {# Close button #}

  <div class="header__close--toggle"></div>

</div>