<!--
  templateType: page
  isAvailableForNewContent: true
  label: Arcpoint
  screenshotPath: ../images/template-previews/home.png
-->

{% extends './layouts/base.html' %}

{% block body %}


<!--/****************/

/******************/ -->

<section id="csk_hero" class="csks_padding hero_csk">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <img src="https://cdn2.hubspot.net/hubfs/20598417/arcpoint_hero.png" alt="">
      </div>
      <div class="col-md-6">
        <div class="hero_content">
          <img class="atrio_hero_img" src="https://cdn2.hubspot.net/hubfs/20598417/atrio_text.png" alt="Atrio TM">
        </div>
        <div class="certified_by">
          <h4>Certified By</h4>
          <div class="row">
            <div class="col-3">
              <img src="https://cdn2.hubspot.net/hubfs/20598417/circle.png" alt="circle">
            </div>
            <div class="col-3">
              <img src="https://cdn2.hubspot.net/hubfs/20598417/logo_2.png" alt="circle">
            </div>
            <div class="col-3">
              <img src="https://cdn2.hubspot.net/hubfs/20598417/logo_3.png" alt="circle">
            </div>
            <div class="col-3">
              <img src="https://cdn2.hubspot.net/hubfs/20598417/logo_4.png" alt="circle">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="founded" class="csks_padding">
  <div class="container">
    <div class="row">
      <div class="col-md-6 align-middle">
        <div class="content">
          <h2 class="title"> <strong>ArcPoint</strong> was founded by investigators for investigators</h2>
          <p>We understand your mission. We have experienced your frustration. Every day we ask ourselves, “What else
            can we bring to the table that would make digital forensics easier
            and the work of investigators more productive?”
          </p>
          <p>
            How can we meet the need of investigators to easily
            acquire, exploit, and access captured data?</p>
        </div>

        <div class="founded_features">
          <h4>Corporate Drivers – The Three A’s of ArcPoint</h4>
          <div class="content_featues">
            <ul class="features_list">
              <li><i class="fa-solid fa-circle-check"></i>
                Accessibility
              </li>
              <li><i class="fa-solid fa-circle-check"></i>Affordability</li>
              <li><i class="fa-solid fa-circle-check"></i>Attitude of Service</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="csk_blurb">
          <h2 class="title">
            Saves Time
          </h2>
          <p>
            Make fast, informed decisions by getting quick, accurate results that are easy to understand.
          </p>
          <div class="content_featues">
            <ul class="features_list">
              <li>
                <i class="fa-solid fa-circle-check"></i>
                Through intuitive
              </li>
              <li>
                <i class="fa-solid fa-circle-check"></i>
                Push-button Programing
              </li>
              <li><i class="fa-solid fa-circle-check"></i>
                Intelligent organization of results
              </li>
              <li><i class="fa-solid fa-circle-check"></i>
                AI/object detection
              </li>
            </ul>
          </div>
          <p>
            ATRIO enables investigators to quickly collect and review precisely the information they need to advance
            their investigations.
          </p>
        </div>
        <div class="csk_blurb">
          <h2 class="title">
            Reduces Cost
          </h2>
          <p>
            Minimize human capital costs by simplifying the digital forensics workflow. Read More....
          </p>
        </div>
        <div class="csk_blurb">
          <h2 class="title">
            Enhances Performance
          </h2>
          <p>
            Achieve organizational and investigative efficiency by expanding your digital forensics workforce. Read
            More....
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="solution" class="csks_padding">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="section_title border_bottom">
          A Complete Solution to
        </h2>
      </div>
    </div>
  </div>
</section>

<section id="instruction" class="csks_padding">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="easy_instruction">
          <h2 class="section_title border_bottom dark">
            As easy as 1-2-3
          </h2>
          <div class="row">
            <div class="col-md-4">
              <div class="title_box">
                Connect
              </div>
            </div>
            <div class="col-md-4">
              <div class="title_box">
                Select
              </div>
            </div>
            <div class="col-md-4">
              <div class="title_box">
                Collect
              </div>
            </div>
          </div>
        </div>
        <div class="accordion">
          <div class="item open">
            <p class="number">01</p>
            <p class="text">Connect your devices.</p>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
              stroke="currentColor" class="icon">
              <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5" />
            </svg>
            <div class="hidden-box">
              <p>One port for your source drive. One port for your destination drive. How simple is that? As soon
                you plug in the source drive, ATRIO immediately starts to analyze and parse the data – even if you
                haven’t chosen your features or hit the GO button yet. ATRIO gets straight to work to save you time!
              </p>
            </div>
          </div>
          <div class="item">
            <p class="number">02</p>
            <p class="text">Select your processing options.</p>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
              stroke="currentColor" class="icon">
              <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5" />
            </svg>
            <div class="hidden-box">
              <p>One port for your source drive. One port for your destination drive. How simple is that? As soon
                you plug in the source drive, ATRIO immediately starts to analyze and parse the data – even if you
                haven’t chosen your features or hit the GO button yet. ATRIO gets straight to work to save you time!
              </p>
            </div>
          </div>
          <div class="item">
            <p class="number">03</p>
            <p class="text">Collect your evidence.</p>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
              stroke="currentColor" class="icon">
              <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5" />
            </svg>
            <div class="hidden-box">
              <p>One port for your source drive. One port for your destination drive. How simple is that? As soon
                you plug in the source drive, ATRIO immediately starts to analyze and parse the data – even if you
                haven’t chosen your features or hit the GO button yet. ATRIO gets straight to work to save you time!
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 align-middle">
        <img src="https://cdn2.hubspot.net/hubfs/20598417/atrio.png" alt="">
      </div>
    </div>
  </div>
</section>


<section id="service" class="csks_padding">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2 class="title">
          Service
        </h2>
      </div>
      <div class="col-md-6">
        <a class="btn link" href="#">View All</a>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-md-4">
        <div class="service_box">
          <h4 class="service_title">
            Lorem Ipsum is simply dummy text
          </h4>
        </div>
      </div>
      <div class="col-md-4">
        <div class="service_box">
          <h4 class="service_title">
            Lorem Ipsum is simply dummy text
          </h4>
        </div>
      </div>
      <div class="col-md-4">
        <div class="service_box">
          <h4 class="service_title">
            Lorem Ipsum is simply dummy text
          </h4>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="service_box">
          <h4 class="service_title">
            Lorem Ipsum is simply dummy text
          </h4>
        </div>
      </div>
      <div class="col-md-4">
        <div class="service_box">
          <h4 class="service_title">
            Lorem Ipsum is simply dummy text
          </h4>
        </div>
      </div>
      <div class="col-md-4">
        <div class="service_box">
          <h4 class="service_title">
            Lorem Ipsum is simply dummy text
          </h4>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="faqs" class="csks_padding">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2 class="title">
          FAQ
        </h2>
        <div class="faqs_accordion">
          <div class="accordion">
            <div class="item open">
              <p class="number"></p>
              <p class="text">What file Systems does ATRIO™ read?</p>
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="icon">
                <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5" />
              </svg>
              <div class="hidden-box">
                ATRIO™ can read and parse HFS+, NTFS, FAT16, FAT32, ExFAT, EXT2, EXT3, and EXT4. Additionally, ATRIO™
                can read GPT and MBR partition tables.
              </div>
            </div>
            <div class="item">
              <p class="number"></p>
              <p class="text">How long do I have to return my chair?</p>
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="icon">
                <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5" />
              </svg>
              <div class="hidden-box">
                ATRIO™ can read and parse HFS+, NTFS, FAT16, FAT32, ExFAT, EXT2, EXT3, and EXT4. Additionally, ATRIO™
                can read GPT and MBR partition tables.
              </div>
            </div>
            <div class="item">
              <p class="number"></p>
              <p class="text">Do you ship to countries outside the EU?</p>
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="icon">
                <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5" />
              </svg>
              <div class="hidden-box">
                ATRIO™ can read and parse HFS+, NTFS, FAT16, FAT32, ExFAT, EXT2, EXT3, and EXT4. Additionally, ATRIO™
                can read GPT and MBR partition tables.
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <h2 class="title">About</h2>
        <div class="content">
          <p>
            At ArcPoint, we believe digital forensics operations don’t need to be limited to professionally trained,
            lab-based examiners armed with multiple complex tools and software suites.</p>

          <p> With recent advances in automation, digital forensics processing can and should be simpler.</p>

          <p> That’s where ATRIO comes in. The setup is straightforward. The interface is intuitive.</p>

          <p>The results are easy to understand. And ATRIO provides all of this without sacrificing the functionality
            and features you expect. <a class="links" href="#">Read More...</a> </p>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>


<!--/****************/

/******************/ -->


{% dnd_area 'dnd_area_101' class='body-container body-container--home', label='Main section' %}

{# Hero slider #}

{% include_dnd_partial path='../sections/hero-slider.html' %}

{# Text blocks #}

{% include_dnd_partial path='../sections/3-column-text.html' %}

{# More text blocks #}

{% include_dnd_partial path='../sections/1-3-column-text.html'
context={
'section_padding_top': 100,
'background_color': '#F5F5F5',
'text': 'Learn more',
'huge': true
}
%}

{# Number counters #}

{% dnd_section
padding={ 'top': 100 },
background_color='#E24545'
%}
{% dnd_module path='../modules/number-counters' %}
{% end_dnd_module %}
{% end_dnd_section %}

{# Events #}

{% include_dnd_partial path='../sections/events.html'
context={
'section_padding_top': 100,
'huge': true
}
%}

{# Quote #}

{% include_dnd_partial path='../sections/quote.html'
context={
'section_padding_top': 100,
'section_margin_bottom': 100,
'background_color': '#b8f3c4'
}
%}

{# Text blocks #}

{% include_dnd_partial path='../sections/3-column-text-with-capitals.html'
context={
'section_margin_bottom': 100
}
%}

{# Call-to-action #}

{% include_dnd_partial path='../sections/call-to-action.html'
context={
'section_padding_bottom': '0px'
}
%}

{% end_dnd_area %}
{% endblock body %}